<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rewards Page</title>
</head>
    <body>
        <h1>Welcome to the Rewards Page </h1>

        <div>                           
            <p th:text="'Viewing ' + ${formatted_date}" />

            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <td>Activity</td>
                    <td>Points</td>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${listsum.empty}">
                    <td colspan="8">No tasks</td>
                </tr>
                <tr aria-colspan="4" th:each="summary : ${listsum}">
                    <td th:text="${summary.activity}"></td>
                    <td th:text="(${summary.calories} * 2)"></td>
                </tr>
                </tbody>
            </table>
            <p th:text="'Bonus Points: ' + (${day.caloriesIdle} * 4)" />
        </div>

        <!-- <div>
            <p th:text="'Monthly summary: '" />
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <td>Date</td>
                    <td>Idle Calories</td>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${monthSum.empty}">
                    <td colspan="8">No activities for the month</td>
                </tr>
                <tr aria-colspan="8" th:each="mthDay : ${monthSum}">
                    <td th:text="${mthDay.date}"></td>
                    <td th:text="${mthDay.caloriesIdle}"></td>
                </tr>
                </tbody>
            </table>
        </div> -->



    </body>
</html>