<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rewards Page</title>
</head>
    <body>
        <h1>Welcome to the Rewards Page </h1>

        <div>                           
            <p th:text="'Viewing ' + ${#strings.substring(day.date,4,6)} + '/' + ${#strings.substring(day.date,6,8)} + '/' + ${#strings.substring(day.date,0,4)}" />

            <table class="table table-bordered table-striped" style="width:200px">
                <thead>
                <tr>
                    <td><b>Activity</b></td>
                    <td><b>Points</b></td>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${listsum.empty}">
                    <td colspan="8">No tasks</td>
                </tr>
                <tr aria-colspan="4" th:each="summary : ${listsum}">
                    <td th:text="${summary.activity}"></td>
                    <td th:text="(${summary.calories} * 2)"></td>
                </tr>
                </tbody>
            </table>
            <p th:text="'Bonus Points: ' + (${day.caloriesIdle} * 2)" />
            <p th:text="'Total Points: ' + ((${day.caloriesIdle} + ${#aggregates.sum(day.summary.![calories])}) * 2)" />
        </div>

        <div>
            <p th:text="'Monthly summary: '" />
            <table class="table table-bordered table-striped" style="width:400px">
                <thead>
                <tr>
                    <td><b>Date</b></td>
                    <td><b>Total Points</b></td>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${monthSum.empty}">
                    <td colspan="2">No points for the month</td>
                </tr>
                <tr aria-colspan="2" th:each="mthDay : ${monthSum}">
                    <td th:text="${#strings.substring(mthDay.date,4,6)} + '/' + ${#strings.substring(mthDay.date,6,8)} + '/' + ${#strings.substring(mthDay.date,0,4)}"></td>
                    <td th:text="((${#aggregates.sum(mthDay.summary.![calories])} + ${mthDay.caloriesIdle}) * 2)"></td>
                </tr>

                </tbody>
            </table>
        </div>



    </body>
</html>