<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Steps Page</title>
</head>
    <body>

        <h1>Welcome to the Steps Page </h1>

        <div>                           
            <p th:text="'Viewing ' + ${#strings.substring(day.date,4,6)} + '/' + ${#strings.substring(day.date,6,8)} + '/' + ${#strings.substring(day.date,0,4)}" />

            <table class="table table-bordered table-striped" style="width:200px">
                <thead>
                <tr>
                    <td><b>Activity</b></td>
                    <td><b>Steps</b></td>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${listsum.empty}">
                    <td colspan="8">No tasks</td>
                </tr>
                <tr aria-colspan="4" th:each="summary : ${listsum}">
                    <td th:text="${summary.activity}"></td>
                    <td th:text="${summary.steps}"></td>
                </tr>
                </tbody>
            </table>
            <p th:text="'Total Steps: ' + ${#aggregates.sum(day.summary.![steps])}" />
        </div>

        <div>
            <p th:text="'Monthly summary: '" />
            <table class="table table-bordered table-striped" style="width:400px">
                <thead>
                <tr>
                    <td><b>Date</b></td>
                    <td><b>Total Steps</b></td>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${monthSum.empty}">
                    <td colspan="2">No steps for the month</td>
                </tr>
                <tr aria-colspan="2" th:each="mthDay : ${monthSum}">
                    <td th:text="${#strings.substring(mthDay.date,4,6)} + '/' + ${#strings.substring(mthDay.date,6,8)} + '/' + ${#strings.substring(mthDay.date,0,4)}"></td>
                    <td th:text="${#aggregates.sum(mthDay.summary.![steps])}"></td>
                </tr>

                </tbody>
            </table>
        </div>

    </body>
</html>